#container {
    background-color: lightgoldenrodyellow;
}

.choices {
    display: flex;
    flex-wrap: wrap;
    gap: 135px;

}

h1 {
    text-align: center;
    text-decoration: underline;
    color: black
}

h2 {
    height: 1px;
}

.button {
    background-color: blue;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}


.choices_paints {
    display: flex;
    border: solid 5px dodgerblue;
    background-color: darkslateblue;
    color: white;
}

.choices_interiors {
    display: flex;
    border: solid 5px dodgerblue;
    background-color: darkslateblue;
    color: white;
}

.choices_wheels {
    display: flex;
    border: solid 5px dodgerblue;
    background-color: darkslateblue;
    color: white;
}

.choices_technologies {
    display: flex;
    border: solid 5px dodgerblue;
    background-color: darkslateblue;
    color: white;
}

.choices_types {
    display: flex;
    border: solid 5px dodgerblue;
    background-color: darkslateblue;
    color: white;
}

.select {
    height: 25px;
    margin-top: 23px;
    width: 75px;
}